<%= form_for [@course, @evaluation], :html => {:class => "ui form"} do |form| %>
  <% if evaluation.errors.any? %>
    <div class="ui negative message">
      <h4>No se pudo guardar la evaluación por los siguientes motivos:</h4>
      
      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :evaluation_name %>
    </div>

    <div class="field">
      <%= form.label :passing_score %>
      <%= form.text_field :passing_score, id: :evaluation_passing_score %>
    </div>
  </div>

  <div class="field date-select">
    <%= form.label :date %>
    <%= form.date_select :date, id: :evaluation_date %>
  </div>

  <div class="actions">
    <%= form.submit class: "ui button green" %>
  </div>

<% end %>
