<div class="ui container">
  
  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
      <span class="divider">/</span>
    <%= link_to 'Editar evaluación', course_evaluation_path(@course, @evaluation) %>
  </div>

  <h1 class="ui header">Editar evaluación</h1>
  <%= render 'form', evaluation: @evaluation %>

</div>
