<%= form_for [@course, @student], :html => {:class => "ui form"} do |form| %>
  <% if student.errors.any? %>
    <div class="ui negative message">
      <h4>No se pudo guardar el alumno por los siguientes motivos:</h4>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :student_first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :student_last_name %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :student_email %>
    </div>

    <div class="field">
      <%= form.label :dni %>
      <%= form.number_field :dni, id: :student_dni %>
    </div>
  </div>

  <div class="field">
    <%= form.label :file_number %>
    <%= form.text_field :file_number, id: :student_file_number %>
  </div>

  <div class="actions">
    <%= form.submit class: "ui button green" %>
  </div>

<% end %>
