<div class="ui container">

  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
      <span class="divider">/</span>
    <%= link_to 'Editar alumno', edit_course_student_path(@course, @student) %>
  </div>

  <h1 class="ui header">Editar alumno</h1>
  <%= render 'form', student: @student %>

</div>
