<div class="ui container">

  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
      <span class="divider">/</span>
    <%= link_to 'Cargar notas', course_student_evaluations_path(@course) %>
  </div>

  <h1>Cargar notas para <%= @course.name %> </h1>

  <table class="ui celled table score-table">
    <thead>
      <tr>
        <th>Alumno</th>
        <% @evaluations.each do |evaluation| %>
          <th>Nota de <%= evaluation.name %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @students.sort_by {|a| [a.first_name.downcase, a.last_name.downcase]} .each do |student| %>
        <tr id="student-<%= student.id %>" >
          <td><%= student.last_name %>, <%= student.first_name %></td>
          <% @evaluations.each do |evaluation| %>
            <td class="ui form">
              <input type="text" placeholder="Ausente" 
                class="score" 
                data-student="<%= student.id %>" 
                data-score="<%= student.score_value(evaluation) %>" 
                data-length="<%= student.student_evaluations.length %>" 
                data-evaluation="<%= evaluation.id %>"
                data-course="<%= @course.id %>"
                value="<%= student.score_value(evaluation) %>" >
            </td>
          <% end %>
          <td>
            <button class="ui primary disabled button save-score" 
              data-student="<%= student.id %>"
              data-course="<%= @course.id %>">Guardar</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>