<div class="ui container">

  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
      <span class="divider">/</span>
    <%= link_to 'Estadísticas', course_student_statistics_path(@course) %>
  </div>

  <h1>Estadísticas para <%= @course.name %> </h1>

  <table class="ui celled table score-table">
    <thead>
      <tr>
        <th>Alumno</th>
        <% @evaluations.each do |evaluation| %>
          <th>Nota de <%= evaluation.name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @students.sort_by {|a| [a.first_name.downcase, a.last_name.downcase]} .each do |student| %>
        <tr id="student-<%= student.id %>" >
          <td><%= student.last_name %>, <%= student.first_name %></td>
          <% @evaluations.each do |evaluation| %>
            <% if student.passed?(evaluation) %>
              <td class="positive"><%= student.score_value(evaluation) %></td>
            <% elsif student.failed?(evaluation) %>
              <td class="negative"><%= student.score_value(evaluation) %></td>
            <% else %>
              <td>---</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <tr class="positive bold">
        <td>Total de aprobados</td>
        <% @evaluations.each do |evaluation| %>
          <td><%= @course.passing_students(evaluation).length %></td>
        <% end %>
      </tr>
      <tr class="negative">
        <td>Total de desaprobados</td>
        <% @evaluations.each do |evaluation| %>
          <td><%= @course.failed_students(evaluation).length %></td>
        <% end %>
      </tr>
      <tr>
        <td>Porcentaje de aprobación</td>
        <% @evaluations.each do |evaluation| %>
          <td><%= @course.passing_percentage(evaluation).to_s(:percentage, precision: 2) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Total de ausentes</td>
        <% @evaluations.each do |evaluation| %>
          <td><%= @course.absent_students(evaluation).length %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>