<div class="ui middle aligned center aligned grid">
  <div class="column login-column">
    <h2 class="ui image header">
      <div class="content login-content">
        Administración
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'ui large form'}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: "Ingrese su dirección de email" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Ingrese su contraseña" %>
          </div>
        </div>
        <div class="">
          <%= f.submit "Entrar", :class => "ui fluid large red submit button" %>            
        </div>
      </div>
    <% end %>
  </div>
</div>


