<%= form_with(model: course, local: true, class: "ui form") do |form| %>
  <% if course.errors.any? %>
    <div class="ui negative message">
      <h4>No se pudo guardar la cursada por los siguientes motivos:</h4>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :course_year %>
  </div>

  <div class="actions">
    <%= form.submit class: "ui button green" %>
  </div>
<% end %>
