<div class="ui container">

  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
      <span class="divider">/</span>
    <%= link_to 'Editar cursada', edit_course_path(@course) %>
  </div>

  <h1 class="ui header">Editar cursada</h1>
  <%= render 'form', course: @course %>
    
</div>
<!--<%= link_to 'Ver', @course %> | <%= link_to 'Atrás', courses_path %> -->
