<div class="ui container">

  <% if notice %>
    <div class="ui positive message">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1>Cursadas</h1>
  <%= link_to new_course_path, class: "ui green button" do %>
    <i class="plus icon"></i> Nueva cursada
  <% end %>

  <% @courses.sort_by { |c| [c.year, c.created_at] }.reverse.each do |course| %>
    <div class="ui segment">
      <div class="ui header"><%= course.name %> - <%= course.year %></div>
      <div>
        <p>Alumnos: <%= course.students.length %></p>
        <p>Evaluaciones: <%= course.evaluations.length %></p>
        <%= link_to course_path(course), class: "ui basic button green" do %>
          Ver información
        <% end %>
      </div>
    </div>
  <% end %>

</div>

