<div class="ui container">
    <div class="ui breadcrumb header">
      <%= link_to 'Cursadas', courses_path %>
        <span class="divider">/</span>
      <%= link_to 'Nueva cursada', new_course_path %>
    </div>


    <h1 class="ui header">Nueva cursada</h1>
    <%= render 'form', course: @course %>

    <!--<%= link_to 'Atrás', courses_path %>-->
</div>