
<div class="ui container">
  <% if notice %>
    <div class="ui positive message">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="ui breadcrumb header">
    <%= link_to 'Cursadas', courses_path %>
      <span class="divider">/</span>
    <%= link_to sprintf("%s - %d", @course.name, @course.year), course_path(@course) %>
  </div>
  
  <div class="ui top attached tabular menu">
    <a class="item" data-tab="tab-info"> <i class="info circle icon"></i> Información</a>
    <a class="item" data-tab="tab-students"> <i class="user icon"></i> Alumnos</a>
    <a class="item" data-tab="tab-evaluations"> <i class="file text outline icon"></i> Evaluaciones</a>
  </div>

  <div class="ui bottom attached tab segment" data-tab="tab-info">
    <div class="tab-info">
      <p>Alumnos: <%= @course.students.length %></p>
      <p>Evaluaciones: <%= @course.evaluations.length %></p>
    </div>
    
    <%= link_to edit_course_path(@course), class: "ui basic button orange" do %>
      <i class="edit icon"></i> Modificar
    <% end %>
    <%= link_to @course, method: :delete, data: { confirm: '¿Está seguro?' }, class: "ui basic button red" do %>
      <i class="delete icon"></i> Eliminar
    <% end %>
    <%= link_to course_student_evaluations_path(@course), class: "ui basic button blue" do %>
      <i class="file text outline icon"></i> Cargar notas
    <% end %>
    <%= link_to course_student_statistics_path(@course), class: "ui basic button green" do %>
      <i class="bar chart icon"></i> Estadísticas
    <% end %>
  </div>

  <div class="ui bottom attached tab segment" data-tab="tab-students">
    <div class="tab-action-buttons">
      <%= link_to new_course_student_path(@course), class: "ui green button" do %>
        <i class="plus icon"></i> Agregar alumno
      <% end %>
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Apellido, Nombre</th>
          <th>DNI</th>
          <th>Legajo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.students.sort_by {|a| [a.first_name.downcase, a.last_name.downcase]} .each do |student| %>
          <tr>
            <td><%= student.last_name %>, <%= student.first_name %></td>
            <td><%= student.dni %></td>
            <td><%= student.file_number %></td>
            <td>
              <%= link_to edit_course_student_path(@course, student), class: "ui basic button yellow" do %>
                <i class="edit icon"></i> Modificar
              <% end %>
              <%= link_to [@course, student], method: :delete, data: { confirm: '¿Está seguro?' }, class: "ui basic button red" do %>
                <i class="delete icon"></i> Eliminar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="ui bottom attached tab segment" data-tab="tab-evaluations">
    <div class="tab-action-buttons">
      <%= link_to new_course_evaluation_path(@course), class: "ui green button" do %>
        <i class="plus icon"></i> Agregar evaluación
      <% end %>
    </div>

    <table class="ui celled table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nota de aprobación</th>
          <th>Fecha de evaluación</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.evaluations .sort_by { |e| [e.date, e.name, e.created_at] } .each do |evaluation| %>
          <tr>
            <td><%= evaluation.name %></td>
            <td><%= evaluation.passing_score %></td>
            <td><%= evaluation.date %></td>
            <td>
              <%= link_to edit_course_evaluation_path(@course, evaluation), class: "ui basic button yellow" do %>
                <i class="edit icon"></i> Modificar
              <% end %>
              <%= link_to [@course, evaluation], method: :delete, data: { confirm: '¿Está seguro?' }, class: "ui basic button red" do %>
                <i class="delete icon"></i> Eliminar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>