/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require semantic-ui
 *= require alertify
 *= require alertify/default
 *= require alertify/semantic
 *= require_self
 */

.grid > div.column.login-column {
    max-width: 450px;
}
.content.login-content {
    margin-top: 40px;
}
.tab-info {
  padding-top: 1em;
  padding-bottom: 2em;
}
.tab-action-buttons {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.ui.form .date-select select {
    display: inline-block;
    width: 30%;
}
.ui.celled.table.score-table {
  margin-bottom: 40px;
}