<!DOCTYPE html>
<html>
  <head>
    <title>Cursadas de TTPS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui green menu">
      <a class="item">
        Cursadas de TTPS
      </a>
      <% if user_signed_in? %>

        <%= link_to courses_path, class: "item active" do  %>
          <i class="student icon"></i> Cursadas
        <% end %>

        <div class="right menu">
          <%= link_to destroy_user_session_path, method: :delete,  class: "item" do  %>
            <i class="sign out icon"></i> Salir
          <% end %>
        </div>

      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
